<section class="container">
    <h1 class="my-2">O nas</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem enim illo, reiciendis non impedit accusamus
        repudiandae deleniti consectetur tempore, repellendus eius officiis exercitationem molestiae blanditiis debitis
        similique, delectus quos commodi.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis deserunt repellendus debitis. Praesentium magnam
        tempora maiores officiis quam vitae, laudantium veniam delectus amet, natus ratione quibusdam placeat rem? Qui,
        ut?
    </p>
</section>

<section class="container">

    <h5 class="my-5">Mistrzowie sprzedaży</h5>
    <lib-our-team></lib-our-team>
</section>

<div>
    <router-outlet></router-outlet>
</div>