<section>
    <h1>AboutUsPage</h1>
</section>
<section class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcTesePmFDRKADhLEaLs7pOTfI1Y3DgWXlgF7efaGawpsSL9Q4pDaljHw-kpcYq9"
                    class="card-img-top rounded-circle w-75 align-self-center" alt="conversation of chemistry">
                <div class="card-body">
                    <h5 class="card-title">Maria Skłodowska-Curie </h5>
                    <p class="card-text text-center fw-lighter lh-base">polsko-francuska uczona zajmująca się fizyką
                        doświadczalną i chemią fizyczną, podwójna noblistka – laureatka Nagrody Nobla z fizyki i chemii.
                    </p>
                    <a href="/first-person" class="btn btn-primary">Choose</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.theconversation.com/files/121885/original/image-20160510-20731-1pf8nwv.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop"
                    class="card-img-top rounded-circle w-75 align-self-center" alt="conversation of chemistry">
                <div class="card-body">
                    <h5 class="card-title">Name 2. person</h5>
                    <p class="card-text text-center fw-lighter lh-base">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Aut dolor dolorum doloribus autem aperiam. Earum vel vero dicta omnis aperiam
                        veniam! Neque sequi autem voluptate fuga aspernatur ea, sit maiores.
                    </p>
                    <a href="#" class="btn btn-primary">Choose</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.theconversation.com/files/121885/original/image-20160510-20731-1pf8nwv.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop"
                    class="card-img-top rounded-circle w-75 align-self-center" alt="conversation of chemistry">
                <div class="card-body">
                    <h5 class="card-title">Name 3. person</h5>
                    <p class="card-text text-center fw-lighter lh-base">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Aut dolor dolorum doloribus autem aperiam. Earum vel vero dicta omnis aperiam
                        veniam! Neque sequi autem voluptate fuga aspernatur ea, sit maiores.
                    </p>
                    <a href="#" class="btn btn-primary">Choose</a>
                </div>
            </div>
        </div>
    </div>
</section>