<h1>AboutUsPage</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://images.theconversation.com/files/121885/original/image-20160510-20731-1pf8nwv.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop"
                alt="conversation of chemistry" width="200">
        </div>

        <div class="col">
            <img src="https://images.theconversation.com/files/121885/original/image-20160510-20731-1pf8nwv.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop"
                alt="conversation of chemistry" width="200">
        </div>

        <div class="col">
            <img src="https://images.theconversation.com/files/121885/original/image-20160510-20731-1pf8nwv.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop"
                alt="conversation of chemistry" width="200">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias officia repudiandae
                repellendus
                obcaecati.
                Molestias, vero unde quos commodi fugit quidem fuga officia quam, sequi repellat placeat
                magnam, cumque
                exercitationem quisquam.
            </p>
        </div>
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias officia repudiandae
                repellendus
                obcaecati.
                Molestias, vero unde quos commodi fugit quidem fuga officia quam, sequi repellat placeat
                magnam, cumque
                exercitationem quisquam.
            </p>
        </div>
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias officia repudiandae
                repellendus
                obcaecati.
                Molestias, vero unde quos commodi fugit quidem fuga officia quam, sequi repellat placeat
                magnam, cumque
                exercitationem quisquam.
            </p>
        </div>
    </div>
</div>