<section>
    <h1> {{(params$ | async)?.name}} </h1>

    <!--
         <div class="container">
        <div class="row">
            <div class="col">

                <p class="text-justify">

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus earum cumque aspernatur eaque
                    ipsa
                    in, culpa debitis rerum, necessitatibus praesentium doloribus asperiores blanditiis, incidunt
                    laudantium
                    accusantium eveniet neque placeat suscipit! Lorem ipsum dolor sit amet consectetur, adipisicing
                    elit.
                    Nesciunt quae, consequatur delectus voluptatem velit natus, provident sit similique odio hic eos
                    iste,
                    amet tempore doloribus dolore praesentium fugit a vel?
                </p>
            </div>
            <div class="col">
                <img src="https://www.glamour.pl/media/cache/default_view/uploads/media/default/0004/20/ralph-lauren-stworzyl-kolekcje-inspirowana-stylem-rachel-green-z-przyjaciol.jpeg"
                    alt="Rachel Green" width="400">
            </div>
        </div>
    </div>
    -->

</section>