<h1>FirstPersonPage</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                (ur. 7 listopada 1867 w Warszawie, zm. 4 lipca 1934 w Passy) – polsko-francuska uczona zajmująca się
                fizyką doświadczalną i chemią fizyczną, podwójna noblistka – laureatka Nagrody Nobla z fizyki (1903)
                i chemii (1911).

                W 1891 Maria Skłodowska wyjechała z Królestwa Polskiego do Paryża, by podjąć studia na Sorbonie (w XIX
                wieku kobiety nie mogły studiować na ziemiach polskich); następnie rozwinęła tam swoją karierę
                naukową. Była prekursorką nowej gałęzi chemii – radiochemii. Do jej dokonań należą: rozwinięcie teorii
                promieniotwórczości, technik rozdzielania izotopów promieniotwórczych oraz odkrycie dwóch nowych
                pierwiastków – radu i polonu. Z jej inicjatywy prowadzono także badania nad leczeniem raka za pomocą
                promieniotwórczości.


                Dyplom Nagrody Nobla w dziedzinie fizyki, przyznany w grudniu 1903 r. Pierre'owi i Marii Curie
                Nagrodą Nobla została wyróżniona po raz pierwszy w 1903 – z fizyki, wraz z mężem Pierre'em Curie i z
                Henrim Becquerelem, za badania nad odkrytym przez Becquerela zjawiskiem promieniotwórczości. Po raz
                drugi została nagrodzona w 1911 – z chemii za odkrycie polonu i radu, wydzielenie czystego radu i
                badanie właściwości chemicznych pierwiastków promieniotwórczych. Należy do grona jedynie czterech osób,
                który otrzymały Nagrodę Nobla więcej niż raz. Wśród nich jest jedną z dwóch, które otrzymały nagrody w
                różnych dyscyplinach. W tej czwórce jest też jedyną kobietą oraz jedynym uczonym uhonorowanym w dwóch
                różnych naukach przyrodniczych[c]. Mimo polskiej narodowości i sentymentów do kraju, nigdy nie otrzymała
                polskiego obywatelstwa – do Francji wyjechała z paszportem Imperium Rosyjskiego.

                Maria Skłodowska-Curie to pierwsza kobieta, która spoczęła w paryskim Panteonie w dowód uznania zasług
                naukowych. Z mężem Pierre'em Curie miała dwie córki, które dożyły dorosłości: Ève Curie i Irène
                Joliot-Curie.
            </p>
            <h3>Odkrycie polonu i radu</h3>
            <p>

                W 1896 Henri Becquerel (1852–1908), fizyk francuski, rozpoczął badania nad solami uranu (siarczanem
                potasu-uranylu K<sub>2</sub>[UO<sub>2</sub>(SO<sub>4</sub>)<sub>2</sub>](H<sub>2</sub>O)<sub>2</sub>),
                które wykazują silną fosforescencję. 2 marca 1896 na
                posiedzeniu
                Akademii Nauk ogłosił, że minerał zawierający uran emituje nowe, nieznane promieniowanie bez uprzedniego
                naświetlania. Becquerel przeprowadził kilka doświadczeń, na podstawie których stwierdził m.in. że uran i
                jego związki chemiczne w stanie krystalicznym, rozpuszczone czy też stopione samorzutnie emitują
                promieniowanie, które zaczernia kliszę fotograficzną, jonizuje powietrze i przenika przez
                nieprzezroczyste
                ciała. Ponadto stwierdził (błędnie), że promieniowanie uranowe jest zbliżone właściwościami do zwykłego
                światła i podobnie jak ono ulega odbiciu, załamaniu i polaryzacji. Z końcem 1897 Maria Skłodowska-Curie
                poszukując tematu do rozprawy w celu uzyskania stopnia doktora podjęła pierwsze badania naukowe z
                promieniami Becquerela.
            </p>
        </div>
        <div class="col">
            <img src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcTesePmFDRKADhLEaLs7pOTfI1Y3DgWXlgF7efaGawpsSL9Q4pDaljHw-kpcYq9"
                alt="conversation of chemistry" width="400">
        </div>
    </div>
</div>