<div class="container">
    <div class="row row-cols-auto justify-content-md-center">
        <div class="col col-md-auto col-lg">
            <h3 class="lh-lg">Kim jesteśmy?</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias officia repudiandae repellendus
                obcaecati.
                Molestias, vero unde quos commodi fugit quidem fuga officia quam, sequi repellat placeat magnam,
                cumque
                exercitationem quisquam.
            </p>

            <h3 class="lh-lg">Czym się zajmujemy?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe, ad consequatur temporibus neque
                maxime, excepturi necessitatibus ipsum libero officia quasi iste, deserunt omnis illum? Eius iusto
                quibusdam recusandae vel?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe, ad consequatur temporibus neque
                maxime, excepturi necessitatibus ipsum libero officia quasi iste, deserunt omnis illum? Eius iusto
                quibusdam recusandae vel?
            </p>
        </div>
        <div class="col col-md-auto col-lg">
            <img src="https://img.wprost.pl/_thumb/16/4e/4f881ef751bcca973d574a697aa9.jpeg" alt="friends" width="460"
                class="img-fluid">
        </div>
    </div>
</div>