<div class="container-fluid">
    <nav class=" navbar navbar-expand-lg navbar-dark p-2 mb-2 text-white  " style="background-color: #8c68cd;">

        <a class="navbar-brand" routerLink="/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Friends_logo.svg" width="100"
                class="img-fluid">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>